<form action="/faves" method="GET">
    <ul>
        <% allPoke.forEach(fave => { %>
            <li>
                <%= fave.name %> 
            </li>  
        <% }) %> 
        
    </ul> 
</form>
