<h1>favezzzz</h1>

<form action="/faves" method="GET">
    <ul>
        <% allPoke.forEach(fave => { %>
            <a href="/pokemon/<%= fave.name.toUpperCase() %> ">
                <li>
                    <%= fave.name %> 
                </li>  
            </a>
        <% }) %> 
        
    </ul> 
</form>
