
<h1> Your favorite pokemon go here</h1>

<ul>
    <% favorites.forEach(fav => { %> 
        <div class="well">
            <a href="/pokemon/<%= fav.name %> " 
            > <%= fav.name %> </a>
        </div>
<%    }); %> 
</ul> 