<div class="container">
    <h1 class="text-center">Your Favorites</h1>
    <p class="text-center"><a href="/">Home</a></p>
    
    <div class="well">
        <ul><% pokemon.forEach(poke => { %>
            <li><%= poke.name.toUpperCase() %> </li>  
            <% }) %> 
        </ul>
    </div>
</div>
    
        


    


