<h1> are my favorite pokemon </h1>
<form action="/index" method=Get>
    <h1>Favorite Pokemon</h1>
    <a href="/">Home</a>
    <ul>
        <% allPoke.forEach(favorite => { %>
        <form action="/" method="GET">
        <a href="/pokemon/<%= favorite.name.toLowerCase()%>">
        <li> <%= favorite.name.toUpperCase()%></li>
        </a>
        </form>
        <% }) %>
        </ul>
    </form>