<div class="container">
    <h1 class="text-center">Your Favorites</h1>
    <p class="text-center"><a href="/">Home</a></p>
    
    <div class="well">
        <ul><% pokemon.forEach(poke => { %>
            <li>
                <a href="/pokemon/<%= poke.name %>"><%= poke.name.toUpperCase() %></a>
                <!-- method override, form w/ method = ppost overriden to delete, hidden input w/ nam, set up a delete route, takes in the name , find and delete, redirect cuz this is a non get route -->

             </li>  
             <form action="/pokemon/<%= poke.name %>?_method=DELETE" method="POST">
                
            <input class="btn-danger" type="submit" value="Remove from favs">
            </form>
            <% }) %> 
        </ul>
    </div>
</div>
    
        


    


