<div class="container">
    <h2 class="text-center">Favorites</h2>
    <% if (pokemons) { %>
        <% pokemons.forEach(function(p) { %>
            <div class="well">
                <h2><%= p.dataValues.name %></h2>
                <p><a href="/pokemon/<%= p.dataValues.name %> ">View more details</a></p>
                <form method="POST" action="/pokemon/<%= p.dataValues.name %>">
                    <input hidden type="text" name="name" value="<%= p.dataValues.name %>">
                    <button class="btn btn-primary" type="submit">Remove Pokemon from Favorites</button>
                </form>
            </div>
        <% }) %>
    <% } else { %>
        <h2>No favorites yet!</h2>
    <% } %>
</div>