<div class="container">
    <h2 class="text-center">Favorites</h2>
    <% if (pokemons) { %>
        <% pokemons.forEach(pokemon => { %>
            <div class="well">
                <h3><%= pokemon.name %></h3>
                <p><a href="/pokemon/<%= pokemon.name %> ">View more details</a></p>
                <form method="POST" action="/pokemon/<%= pokemon.name %>?_method=DELETE">
                    <button class="btn btn-danger" type="submit">Remove Pokemon from Favorites</button>
                </form>
            </div>
        <% }) %>
    <% } else { %>
        <h2>No favorites yet!</h2>
    <% } %>
</div>