<div class="container">
    <h2 class="text-center">Favorites</h2>
    <% if (pokemons) { %>
        <% pokemons.forEach(function(p) { %>
            <div class="well">
                <h2><%= p.dataValues.name %></h2>
                <p><a href="/pokemon/<%= p.dataValues.name %> ">View more details</a></p>
            </div>
        <% }) %>
    <% } else { %>
        <h2>No favorites yet!</h2>
    <% } %>
</div>