<div class="container">
    <div class="well">
        <h2><%= pokemon.name %></h2>
        <p>Height <%= pokemon.height %></p>
        <p>Weight <%= pokemon.weight %></p>
        <p>Types: <%= pokemon.types.map((typeObj) => typeObj.type.name).join(', ') %></p>

    </div>

</div>