<h2>Favorites</h2>

<% pokemon.forEach((p) => {
    
    let upperPoke=p.dataValues.name 
    let upperPokeStr =upperPoke[0].toUpperCase() + upperPoke.slice(1);
    
    %><h3><%= upperPokeStr %></h3>
    <a href="/pokemon/<%= p.dataValues.name%>">Check out the details here</a>
    <form method="POST" action="pokemon/<%= p.dataValues.name%>/?_method=DELETE">
        <input hidden type="text" name="name" value="<%= p.dataValues.name %>">
        <button class="btn btn-primary" type="submit">Delete from Favorites</button>
    </form>
<% }) %>