<h2>Favorites</h2>

<% pokemon.forEach((p) => {
    %><h3><%= p.dataValues.name %></h3>
    <a href="/pokemon/<%= p.dataValues.name%>">Check out the details here</a>
    <form method="POST" action="pokemon/<%= p.dataValues.name%>/?_method=DELETE">
        <input hidden type="text" name="name" value="<%= p.dataValues.name %>">
        <button class="btn btn-primary" type="submit">Delete from Favorites</button>
    </form>
<% }) %>