<form action="/faves" method="GET">
    <h1>Fave Pokemon</h1>
        <ul>
            <% favePokemon.forEach(favorite => { %>
            <li><a href="/pokemon/<%= favorite.name %>"><%= favorite.name %> </a></li>
            <% }); %> 
        </ul>
</form>