<h2>Here is a list of all the Pokemon that you love!</h2>
<div class="well">
    <ul>
        <% pokemon.forEach(pokemon => { %>
        <li> <a href="/pokemon/"><%= pokemon.name %></a></li> <% }) %>

    </ul>
</div>
