<div class="container">
    <h2 class="text-center">The Original 151 Pokemon</h2>
    <% pokemon.forEach(function(pokemon) { %>
        <div class="well">
        <h3><%= pokemon.name %></h3>
        <p><a href="/pokemon/<%= pokemon.name %> ">View more details</a></p>
        <form method="POST" action="/pokemon">
            <input hidden type="text" name="name" value="<%= pokemon.name %>">
            <button class="btn btn-primary" type="submit">Add to Favorite Pokemon</button>
        </form>
        </div>
    <% }); %>
</div>