<h1>My Favorite Pokemon</h1>



<% if(pokemon.length === 0) { %>
    <h4>No favorites here! Go catch some!</h4>
<% } else { %>
    <% pokemon.forEach((poke) => { %>
      <a href="/pokemon/show/<%= poke.id %>"><h2><%=`${poke.name.charAt(0).toUpperCase()}${poke.name.slice(1)}`%></h2></a>  
    <% })} %> 
    <!-- 'for' loop used before switching to forEach -->
    <!-- for(let i = 0; i < pokes.length; i++) { pokes[i].name} -->

    <a onclick="goBack()" href="#">Back</a>
<script>
  function goBack() { window.history.back() }
</script>