<div class="container">
    <h1 class="text-center">Favorite Pokemon</h1>
    <p class="text-center">
        <a href="/">Home</a>
    </p>

    <% pokemon.forEach(function(pokemon) { %>
        <div class="well favorite">
            <h2>
                <%= pokemon.name.slice(0,1).toUpperCase() + pokemon.name.slice(1,pokemon.name.length) %>
            </h2>
            <div class="options">
                <form method="GET" action="/pokemon/<%= pokemon.name %>">
                    <button class="btn btn-primary" type="submit">View details</button>
                </form>
                <form method="POST" action="/pokemon/<%= pokemon.name %>?_method=DELETE">
                    <button class="btn btn-primary" type="submit">Remove favorite</button>
                </form>
            </div>
        </div>
        <% }); %>
</div>